@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');


:root {
    --primary-font: 'Montserrat', sans-serif; 
    --secondary-font:  'Antonio', sans-serif;

    --light-color: #FFFFFF;

    --primary-color: #845460;
    --secondary-color: #ead3cb;
    --third-color: #bdc7c9;
    --fourth-color: #2b4f60;

    --general-transition: all 0.3s ease-in-out;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html {
   font-family: var(--primary-font);
    font-size: 62.5%;
}

html, body{
    height: 100%;
    width: 100%;
 
}

section {
  min-height: 100vh;
  padding-top: 15rem;
  margin: 1rem 0;

}

a {
  -webkit-tap-highlight-color: transparent;
}



/** SVG ANIMATIONS  **/
.svg {
    position:absolute;
    top: 50%;
    left: 7.5%;
    display: block;
    padding: 0;
    clear: both;
    transform: translate(-50%, -50%);
  }
  
  .animation {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke: var(--secondary-color);
    stroke-width: 1px;
    -webkit-animation: dash 2s ease-in-out infinite alternate forwards;
            animation: dash 2s infinite ease-in-out alternate forwards;
  }
  
  @-webkit-keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  @-webkit-keyframes fill-it {
    to {
      fill: rgba(51, 90, 113, 0.3);
    }
  }
  
  @keyframes fill-it {
    to {
      fill: rgba(51, 90, 113, 0.3);
    }
  }

  @media screen and (max-width: 1200px) {
    .svg {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
  section {
    min-height: 50vh;
  }
}
